---
---

@import "{{ site.theme }}";
header, footer {
    width: 170px;
}

div.wrapper {
    width: 1000px;
}

section {
    width: 740px;
}

div.language-xml  {  
    font-size: 12px;
}