---
---

@import "{{ site.theme }}";

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: middle;
  }

body {
    font: "Cascadia Code";
    }