---
---

@import "{{ site.theme }}";

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: middle;
  }

  code, pre {
    font-family: "Cascadia Code", "Lucida Console", Terminal, monospace;
    color: #000;
    font-size: 12px;
  }

  a{
    color: #da4e00;
  }
  header {
    background-color: #da4e00;
    border: 1px solid #943a08;
  }