# NOTE: Requires **VS2019 16.3** or later
# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
indent_style = space
# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
###############################
# .NET Coding Conventions     #
###############################
[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true
# this. preferences
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_readonly_field = true:suggestion
# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:silent
dotnet_prefer_inferred_tuple_names = true:suggestion
dotnet_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
###############################
# Naming Conventions          #
###############################
# Style Definitions
dotnet_naming_style.pascal_case_style.capitalization             = pascal_case
# Use PascalCase for constant fields  
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style    = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds            = field
dotnet_naming_symbols.constant_fields.applicable_accessibilities  = *
dotnet_naming_symbols.constant_fields.required_modifiers          = const
###############################
# C# Coding Conventions       #
###############################
[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent
# Expression-bodied members
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion
# Expression-level preferences
csharp_prefer_braces = true:silent
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true

file_header_template = Copyright © Kindel Systems, LLC - http://www.kindel.com - charlie@kindel.com\nPublished under the MIT License - Source on GitHub: https://github.com/tig/mcec
###############################
# VB Coding Conventions       #
###############################
[*.vb]
# Modifier preferences
visual_basic_preferred_modifier_order = Partial,Default,Private,Protected,Public,Friend,NotOverridable,Overridable,MustOverride,Overloads,Overrides,MustInherit,NotInheritable,Static,Shared,Shadows,ReadOnly,WriteOnly,Dim,Const,WithEvents,Widening,Narrowing,Custom,Async:suggestion


# Rules for MCEControl
# Description: Code analysis rules for MCEControl.csproj.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1001.severity = none

dotnet_diagnostic.CA1008.severity = warning

dotnet_diagnostic.CA1012.severity = warning

dotnet_diagnostic.CA1013.severity = warning

dotnet_diagnostic.CA1014.severity = warning

dotnet_diagnostic.CA1017.severity = warning

dotnet_diagnostic.CA1024.severity = warning

dotnet_diagnostic.CA1027.severity = warning

dotnet_diagnostic.CA1032.severity = none

dotnet_diagnostic.CA1033.severity = warning

dotnet_diagnostic.CA1050.severity = warning

dotnet_diagnostic.CA1060.severity = warning

dotnet_diagnostic.CA1065.severity = none

dotnet_diagnostic.CA1200.severity = none

dotnet_diagnostic.CA1303.severity = none

dotnet_diagnostic.CA1304.severity = none

dotnet_diagnostic.CA1305.severity = none

dotnet_diagnostic.CA1307.severity = none

dotnet_diagnostic.CA1308.severity = none

dotnet_diagnostic.CA1309.severity = warning

dotnet_diagnostic.CA1401.severity = none

dotnet_diagnostic.CA1502.severity = warning

dotnet_diagnostic.CA1505.severity = warning

dotnet_diagnostic.CA1507.severity = none

dotnet_diagnostic.CA1509.severity = warning

dotnet_diagnostic.CA1708.severity = warning

dotnet_diagnostic.CA1711.severity = warning

dotnet_diagnostic.CA1725.severity = warning

dotnet_diagnostic.CA1816.severity = none

dotnet_diagnostic.CA1820.severity = none

dotnet_diagnostic.CA1821.severity = none

dotnet_diagnostic.CA1826.severity = none

dotnet_diagnostic.CA1903.severity = warning

dotnet_diagnostic.CA2000.severity = none

dotnet_diagnostic.CA2002.severity = none

dotnet_diagnostic.CA2004.severity = warning

dotnet_diagnostic.CA2006.severity = warning

dotnet_diagnostic.CA2008.severity = none

dotnet_diagnostic.CA2009.severity = none

dotnet_diagnostic.CA2100.severity = none

dotnet_diagnostic.CA2101.severity = none

dotnet_diagnostic.CA2102.severity = warning

dotnet_diagnostic.CA2104.severity = warning

dotnet_diagnostic.CA2105.severity = warning

dotnet_diagnostic.CA2106.severity = warning

dotnet_diagnostic.CA2115.severity = warning

dotnet_diagnostic.CA2120.severity = warning

dotnet_diagnostic.CA2121.severity = warning

dotnet_diagnostic.CA2130.severity = warning

dotnet_diagnostic.CA2200.severity = none

dotnet_diagnostic.CA2201.severity = warning

dotnet_diagnostic.CA2205.severity = warning

dotnet_diagnostic.CA2208.severity = none

dotnet_diagnostic.CA2213.severity = none

dotnet_diagnostic.CA2215.severity = warning

dotnet_diagnostic.CA2216.severity = none

dotnet_diagnostic.CA2217.severity = warning

dotnet_diagnostic.CA2221.severity = warning

dotnet_diagnostic.CA2222.severity = warning

dotnet_diagnostic.CA2223.severity = warning

dotnet_diagnostic.CA2224.severity = warning

dotnet_diagnostic.CA2229.severity = none

dotnet_diagnostic.CA2231.severity = warning

dotnet_diagnostic.CA2234.severity = none

dotnet_diagnostic.CA2235.severity = none

dotnet_diagnostic.CA2237.severity = none

dotnet_diagnostic.CA2239.severity = warning

dotnet_diagnostic.CA2241.severity = none

dotnet_diagnostic.CA2242.severity = none

dotnet_diagnostic.CA2243.severity = none

dotnet_diagnostic.CA3061.severity = none

dotnet_diagnostic.CA5350.severity = none

dotnet_diagnostic.CA5351.severity = none

dotnet_diagnostic.CA5359.severity = none

dotnet_diagnostic.CA5360.severity = none

dotnet_diagnostic.CA5361.severity = none

dotnet_diagnostic.CA5363.severity = none

dotnet_diagnostic.CA5364.severity = none

dotnet_diagnostic.CA5365.severity = none

dotnet_diagnostic.CA5366.severity = none

dotnet_diagnostic.CA5368.severity = none

dotnet_diagnostic.CA5369.severity = none

dotnet_diagnostic.CA5370.severity = none

dotnet_diagnostic.CA5371.severity = none

dotnet_diagnostic.CA5372.severity = none

dotnet_diagnostic.CA5373.severity = none

dotnet_diagnostic.CA5374.severity = none

dotnet_diagnostic.CA5376.severity = none

dotnet_diagnostic.CA5377.severity = none

dotnet_diagnostic.CA5378.severity = none

dotnet_diagnostic.CA5379.severity = none

dotnet_diagnostic.CA5380.severity = none

dotnet_diagnostic.CA5381.severity = none

dotnet_diagnostic.CA5384.severity = none

dotnet_diagnostic.CA5385.severity = none
